.addArea{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 70px;
  background-color: rgb(202, 226, 246);
  border: 1px solid powderblue;
  border-radius: 10px/10px;
  margin: 10px auto;
  flex-wrap: wrap;

}
.addArea button {
  margin: 5px 5px;
	font-weight: bold;
  width: 100px;
	border: 2px solid #27acd9;
	color: #27acd9;
  border-radius: 10px/10px;
}
.saveBtn {
	font-weight: bold;
  width: 125px;
	border: 2px solid rgb(255, 192, 192);
	color: rgb(237, 66, 66);
  border-radius: 10px/10px;
  margin-right: 10px;
}

.deleateBtn{
  border-radius: 10px/10px;
  width: 140px;
  margin-left: 10px;
}

.design-area {
    width: 400px;
    height: 140px;
    border: 1px solid powderblue;
    position: relative;
    margin: 10px auto;
  }

.figreEditArea{
  padding-top: 10px ;
  width:  400px;
  height: 130px;
  border: 1px solid powderblue;
  background-color: rgb(202, 226, 246);
  margin: 10px auto;
  border-radius: 10px/10px;
}

.figreEditArea input{
  width: 30px;
}

.textEditArea{
    padding-top: 10px;
    width:  400px;
    height: 130px;
    border: 1px solid powderblue;
    background-color: rgb(202, 226, 246);
    margin: 10px auto;
    border-radius: 10px/10px;
}
.textEditArea input{
  width: 30px;
}

.textEditAreaInput input{
  width: 300px;
}

.saveAndDeleateArea{
  width: 400px;
  height: 40px;
  background-color: rgb(202, 226, 246);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  flex-wrap: wrap;
  border-radius: 10px/10px;
}

.editItem{
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
}

.editPtag{
  margin-right: 10px;
  font-weight: bold;
  color:#27acd9;
  width: 80px;
  text-align: left;
}

.editTitle{
  font-weight: bold;
  color: rgba(43, 76, 226, 0.612);
}