.top-area {
  border: 2px solid #aacfd0;
  width: 100%;
  min-height: 1000px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  width: 50%;
  margin: 20px;
  font-weight: bold;
  display: flex;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

.book-area { 
  display: flex;
  border: 2px solid #aacfd0;
  width: 100%-16px;
  min-height: 200px;
  padding: 2px;
  margin: 8px;
  border-radius: 8px;
  background-color: #c9dede;
}

.image{
  display: flex;
  max-width: 100px;
  max-height: 200px;

}

.list-row{
  max-width: 90%;
}

.cost{
  margin-right: 0;
}