#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.top-area {
  border: 2px solid #aacfd0;
  width: 90%;
  min-height: 1000px;
  padding: 8px auto;
  margin: 8px;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size:40px ;
  margin:5px auto;
  display: flex;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

.book-area { 
  text-align:center;
  display: flex;
  justify-content:center;
  border: 2px solid #aacfd0;
  width: 100%-16px;
  height: 160px;
  padding: 2px;
  margin: 8px;
  border-radius: 8px;
  background-color: #c9dede;

}

.image{
  padding: 0 auto;
  width: 20%;
}

.image img {
  margin: auto 0;
  max-width: 150px;
}

.book-text{
  width: 60%;
}
.list-row{
  display: flex;
  text-align: left;
}

.cost{
  width: 20%;
  margin: auto  10px;
  font-size: 30px;
}

.bar{
  background-color: #79a8a9;
  border: 2px solid #79a8a9;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
}

.top-b:hover{
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
  background-color:#fff;
  color: rgb(122, 9, 197);
  cursor: pointer;
  
  width: 10%;
}



.top-mypage:hover{
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
  background-color:#fff;
  color: rgb(122, 9, 197);
  cursor: pointer;
  
  width: 10%;
}

.sp-fixed-menu{
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  font-size: 0;
  opacity: 0.9;
  z-index: 99;
}

.main-page{
  margin-top: 55px;
}
/*メニューを横並びにする*/
.sp-fixed-menu ul{
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
  width:100%;
}


/*左側メニュー*/
.sp-fixed-menu li:first-child{
  background: #aacfd0;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%;
  padding:15px 0;
  margin:0;
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid #fff;
}
/*右側メニュー*/
.sp-fixed-menu li:last-child{
  background: #aacfd0;
  /* justify-content: center; */
  /* align-items: center; */
  width: 20%;
  padding:17.5px 0;
  margin:0;
  font-size: 15px;
  border-right: 1px solid #fff;
}

/*ボタンを調整*/
.sp-fixed-menu li a{
  color: #000000;
  text-align: center;
  display:block;
  width: 100%;
  padding:20px;
}

.line-left{
  border-left:2px solid #000000;
  height: 100%;
}

.book-d-area { 
  display: flex;
width: 100%;
height: 100%;
background-color: #ffffff;
}

.book-d1-area { 
  display: flex;
width: 50%;
height: 400px;
background-color: #ffffff;
}

.image-d{
  display: flex;
  width: 100%;
  height: 100%;
}

.book-d2-area{
  width: 50%;
  padding: 4px;
  height: 392px;

}

.meter{
  width: 300px;
  height: 60px;
}

.title-d{
 padding: 10px;
  font-size:  50px;
  margin: 0px;
  font-weight: bold;
}

.return-money{
  padding: 30px;
  font-size:  30px;
}

.date-d{
  font-size: 20px;
}

.regi-button{
  width: 80%;
  height: 10%;
 margin-top: 80px;
 font-size: 20px;
}

 .book-button-area{
  width: 100%;
  height: 50px;
  padding:0;
  display: flex;
  justify-content: center;
 }

 .button-d{
  width: 50%;
  height: 100%;
  font-size: 20px;
 }

 .book-title{
  font-size: 40px;
  font-weight: bold;
  text-align: left;
 }

 .book-coment{
  font-size: 40px;
  font-weight: bold;
  text-align: left;
 }

.message0{
 position: relative;
 height: 1000px;
 }

 .message0 p{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
 }
 .message1{
  font-size: 80px; 
  text-align: center;
  }

/* .message2{
 font-size: 40px ;
 }  */