.area{
    display: flex;
    width: 432px;
    height: 150px;
}

.pyramid-page{
    width: 35%;
    background-color: powderblue;
}

.score-area{
    width: 30%;
    background-color: powderblue; 
}

.score-page{
    display: flex;
    height: 50%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;  
    align-items: center;
    justify-content:center
}

.page-rank{
    /* line-height: 75px; */
    font-size: 30px;  
}

.score-time{
    display: flex;
    height: 50%;
    border-left: 2px solid white;
    align-items: center;
    justify-content:center
    
}

.clock{
    width: 60px;
    height: 90%;
}

.time-rank{
    font-size: 30px;  
}


.pyramid-time{
    width: 35%;
    background-color: powderblue;
}

.regi{
    width: 432px;
    height: 300px;
    background-color: aliceblue;
}

.regi-top{
    display: flex;
    width: 432px;
    height: 20%;
    background-color: azure;
}

.regi-page{
    display: flex;
    width: 50%;
    background-color: aliceblue;
    border: 2px solid powderblue;
    margin: 4px;
    align-items: center;
    justify-content:center
}

.page-num{
    font-size: 20px;
}

.time-num{
    font-size: 20px;
}

.regi-time{
    display: flex;
    width: 50%;
    background-color: aliceblue;
    border: 2px solid powderblue;
    margin: 4px;
    align-items: center;
    justify-content:center
}

.past{
    width: 432px;
    height: 400px;
    background-color: powderblue;
}

.past-area{
    width: 432px;
    /* height: ; */

}

.past-top{
    width: 100%;
    display: flex;
    align-items: center;
}

.past-title{
    width: 70%;
}

.past-b-title{
    font-size: 20px;
}

.past-good{
    width: 30%;
    display: flex;
}

.past-b-good{
    font-size: 20px;
}

.star{
    width: 20px;
    height: 100%;
}

.bg {
    background: url(./img/obiadd.png);
    background-size: cover;
    position: relative;
    height: 100%;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.588);
}